@{
    ViewData["Title"] = "Os meus Ativos Financeiros";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-controller="AtivoFinanceiro" asp-action="Create" class="btn btn-primary">Adicionar Novo Ativo</a>
</div>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>Data Início</th>
        <th>Duração (meses)</th>
        <th>Imposto (%)</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ativo in Model)
    {
        <tr>
            <td>@ativo.data_inicio</td>
            <td>@ativo.duracao_meses</td>
            <td>@ativo.percentual_imposto</td>
            <td>
                <a asp-controller="AtivoFinanceiro" asp-action="Edit" asp-route-id="@ativo.id_ativo" class="btn btn-sm btn-primary">Editar</a>
                <a asp-controller="AtivoFinanceiro" asp-action="Delete" asp-route-id="@ativo.id_ativo" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este ativo?');">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>